
<ion-view view-title="Login">
	<ion-content id="login-container">	

		<div class="logo"></div>
		<form class="form-signin" ng-submit="login.submit()">
			<div class="list">
				<label class="item assertive" ng-show="login.error">
					{{login.error}}
				</label>
				<label class="item item-input">
					<input type="email" placeholder="Email" ng-model="login.user.email">
				</label>
				<label class="item item-input">
					<input type="password" placeholder="Password" ng-model="login.user.password">
				</label>
			</div>
			<div class="padding">
				<button type="submit" class="button button-block button-positive">Login</button>
				<button type="button" class="button button-block button-default icon-left ion-social-facebook" ng-click="login.facebookLogin()">Facebook</button>
				<a href="#/register" class="button button-block button-balanced">Register</a>
			</div>
		</form>
	</ion-content>
	
</ion-view>