#register-container{

	&.scroll-content {
		display: table !important;
		width: 100% !important;
		height: 100% !important;
	}
	.scroll {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
	
	.logo{
		width: 150px;
		height: 150px;
		background-image:url('/img/logo.png');
		margin: auto;
		padding: 20px 0;
		background-position: center;
		background-size: 125% auto;
	}
}